<div class="picBackground">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="navbar-header">
                <div type="button" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-pills topnav">
                        <li role="presentation" class="active home"><a class="nav-bar" href="#">Home</a></li>
                        <li role="presentation" class="aboutTab"><a class="nav-bar about" href="#">About Me</a></li>
                        <li role="presentation"><a class="nav-bar portfolio" href="#">My Portfolio</a></li>
                        <li role="presentation"><a class="nav-bar contact" href="#">Hire Me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="open" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title">
                <h1 class="text-center">Hello, I am Jared Neutel.</h1>
                <h3 class="text-center changingText">I am a: <span class="para typing_text"></span></h3>
            </div>
            <button type="button" class="btn btn-default btn-lg button-scroll">
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </button>
            <div id="test" align="center" class="embed-responsive embed-responsive-16by9">
            </div>
        </div>
    </div>
</div>
<div class="row third">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h3 class="text-center otherTitles">About Me</h3>
        <img src="assets/images/about-photo.jpg" class="floating img-fluid" alt="">
        <p class="bio">Hi, I am Jared Neutel. I am a web developer in the Southern California area, located between Irvine and The Valley. I am here to build you your perfect website. I am a firm believer that every professional has a small window of opportunity to make a lasting impression. My goal is to maximize this impression, by designing a website that best represents you and your product. I will work tirelessly and spend however long it takes to make sure that your vision becomes a reality. My custom website design services give you the luxury, professionalism and work quality of a consulting company, at the price of a freelance designer. I graduated from UCLA in December of 2016, with a Bachelor of Science in Biology and a Minor in Entrepreneurship.</p>
        <p class="bio">I am the Founder and CEO of Teaching Tech Services: a company that designs and creates web applications and also helps those who need extra support in their technology user abilities. We are tailored to help all ages and all skill levels with technological assistance. We are perfect for small businesses who do not want to hire a full time IT technician on their payroll and need help setting up, maintaining, and teaching their systems to employees. Whether you need help using your smartphone, setting up an in-home media center, programming a website, installing video apps on your computer, or even setting up a small business network, Teaching Tech can help today. Technology changes quickly, so there is no shame in getting a few lessons to help you master your technology. We offer competitive prices that are significantly more affordable than larger IT companies or services. To reach the company website, click <a target="_blank" href="https://www.teachingtechservices.com/">here.</a> I also work at Brotsky LLC, where I have been working on a robotics project, to learn more about machine learning. I am very fascinated with how artificial intelligence will integrate into our future society.</p>
        <p class="bio">Most importantly, I love technology. I enjoy learning about programming and even small gadgets that only nerds like myself take interest in. Outside of busniess and technology, I have a healthy obsession with basketball. I have been involved in a Dynasty Fantasy Basketball League with my friends in high school for many years. I also play basketball as often as I can. Thank you for taking the time to learn more about me, and I hope to be working together soon!</p>
        <hr>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>
<div class="row forth">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h3 class="text-center otherTitles portTitle">My Portfolio</h3>
        <ul class="img-list">
            <li>
                <a target="_blank" href="https://safe-basin-12902.herokuapp.com/">
                    <img src="assets/images/blackout.JPG" width="250" height="250" />
                    <span class="text-content"><span>Blackout Button Downs</span></span>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://jmneutel.github.io/EricWexlerMD/">
                    <img src="assets/images/brain.png" width="250" height="250" />
                    <span class="text-content"><span>Eric Wexler MD</span></span>
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.jjrossmusic.com">
                    <img src="assets/images/JJ-poster.png" width="250" height="250" />
                    <span class="text-content"><span>Jordan Ross Music</span></span>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.teachingtechservices.com">
                    <img src="assets/images/teaching-tech.jpg" width="250" height="250" />
                    <span class="text-content"><span>Teaching Tech Services</span></span>
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>
<div class="row fifth">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h3 class="text-center otherTitles contactTitle">Hire Me</h3>
        <div class="container">
            <form class="well form-horizontal" action="contact/send" method="post" id="contact_form">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">First Name</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="First Name" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Last Name</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">E-mail</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="E-mail Address" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Phone #</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input name="phone" placeholder="(845) 555-1212" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Address</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input name="address" placeholder="Address" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">City</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input name="city" placeholder="City" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">State</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select name="state" class="form-control selectpicker">
                                    <option value=" ">Please select your state</option>
                                    <option>Alabama</option>
                                    <option>Alaska</option>
                                    <option>Arizona</option>
                                    <option>Arkansas</option>
                                    <option>California</option>
                                    <option>Colorado</option>
                                    <option>Connecticut</option>
                                    <option>Delaware</option>
                                    <option>District of Columbia</option>
                                    <option> Florida</option>
                                    <option>Georgia</option>
                                    <option>Hawaii</option>
                                    <option>daho</option>
                                    <option>Illinois</option>
                                    <option>Indiana</option>
                                    <option>Iowa</option>
                                    <option> Kansas</option>
                                    <option>Kentucky</option>
                                    <option>Louisiana</option>
                                    <option>Maine</option>
                                    <option>Maryland</option>
                                    <option> Mass</option>
                                    <option>Michigan</option>
                                    <option>Minnesota</option>
                                    <option>Mississippi</option>
                                    <option>Missouri</option>
                                    <option>Montana</option>
                                    <option>Nebraska</option>
                                    <option>Nevada</option>
                                    <option>New Hampshire</option>
                                    <option>New Jersey</option>
                                    <option>New Mexico</option>
                                    <option>New York</option>
                                    <option>North Carolina</option>
                                    <option>North Dakota</option>
                                    <option>Ohio</option>
                                    <option>Oklahoma</option>
                                    <option>Oregon</option>
                                    <option>Pennsylvania</option>
                                    <option>Rhode Island</option>
                                    <option>South Carolina</option>
                                    <option>South Dakota</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option> Uttah</option>
                                    <option>Vermont</option>
                                    <option>Virginia</option>
                                    <option>Washington</option>
                                    <option>West Virginia</option>
                                    <option>Wisconsin</option>
                                    <option>Wyoming</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Zip Code</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input name="zip" placeholder="Zip Code" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <!-- Text area -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Message</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control" name="comment" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Success message -->
                    <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>
<div class="row second">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a target="_blank" href="https://www.facebook.com/jneutel"><img src="assets/images/facebook.png" alt=""></a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a target="_blank" href="https://www.instagram.com/jaredneutel/"><img src="assets/images/insta.png" alt=""></a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a target="_blank" href="https://github.com/jmneutel"><img src="assets/images/github.png" alt=""></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyrightFoot">
        <p class="copyright">Copyright 2017. Jared Neutel. All Rights Reserved.</p>
    </div>
</div>
